body

{

font-family: arial, helvetica, sans-serif;
font-size: 12pt;
background: grey;
margin: 50px



}

section

{

	width: 100%;
	height: 100vh;
	text-align:justify;
	
	
}

 img

{
	float: right;
	height: 100px;
	padding-top:  4%;
	padding-right: 1%;
	
 

}
.border{
	border: 5px double;
	border-radius: 10px;
	border-color: black;
}

.header

{

 
  
	display: inline-block;
	margin-top: 6px;
	margin-left: 5px;
	width: 75%;
	height: 100px;

 

}

section .Career h1

{	
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 

}

section .information h1

{
	outline-style: solid;
        margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 
}

section .education h1

{
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 
}

section .education h2

{
	
	margin: 5px;
	padding: 0;
	font-style: open-Sans;
	font-size: 15px;
	text-transform: uppercase; 
}

section .education h3

{
	
	margin: 5px;
	padding: 0;
	font-style: open-Sans;
	font-size: 15px;
	text-transform: uppercase; 
}

section .education h4

{
	
	margin: 5px;
	padding: 0;
	font-style: open-Sans;
	font-size: 15px;
	text-transform: uppercase; 
}

section .education h5

{
	
	margin: 5px;
	padding: 0;
	font-style: open-Sans;
	font-size: 15px;
	text-transform: uppercase; 
}

section .skills h1

{	
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 
}

section .skills li

{
	margin: 3px;
}

section .achieve h1

{
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 

}

section .achieve li

{

	margin: 3px;

}

section .work h1

{
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 
}

section .work li

{

	margin: 3px;

}

section .semi h1

{
	outline-style: solid;
	margin: 0;
	padding: 0;
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 

}

section .char h1

{
        outline-style: solid;
        margin: 0;
	padding: 0;	
	font-style: italic;
	font-size: 17px;
	text-transform: uppercase; 
}

section .pa p

{
	text-align: center;

}

section .name p

{
	display: block;
  	margin-top: 1em;
  	margin-bottom: 1em;
	margin-left: 1200px;
 	margin-right: 0;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 25px;
	display: fixed;



}
ul li{
	display: inline-block;
	margin-right: 40px;

}
ul li a{
	text-decoration: none;
	color: rgba(255,255,255,0.5);
	padding: 5px 0.2px;
	transition: 0.5s ease;
	
}

ul li a:hover{
	
	color: purple;

}
ul li a.active{
	border-bottom: 2px solid #cd99d4;
	color: purple;
}
ul li a.box{
	border: 1px solid #fff;
	padding: 2px 20px;
	border-radius: 3px;
	color: #fff;
}
ul li a.box:hover{
	background-color: #fff;
	color: purple;


